[Unit]
Description=enter your personalized description

[Service]
Type=simple
ExecStart=/path/to/ngrokd -tlsKey=/path/to/device.key -tlsCrt=/path/to/device.crt -domain=your.domain -httpAddr=:88 -httpsAddr=:443 -tunnelAddr=:4443 &
KillMode=control-group
KillMode=control-group
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target